<?php
/**
 * CreditcardprofilesApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2015 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * CreditcardprofilesApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CreditcardprofilesApi
{

    /**
     * API Client
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://qb.myplaydirect.com/');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     * @return CreditcardprofilesApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * v1CreditCardProfilesIndex
     *
     * get credit card profiles from the user
     *
     * @param string $access_token Get credit card profiles for the user (required)
     * @param string $per_page Get orders per_page (optional)
     * @param string $page Get orders for a page (optional)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function v1CreditCardProfilesIndex($access_token, $per_page=null, $page=null)
    {
        
        // verify the required parameter 'access_token' is set
        if ($access_token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $access_token when calling v1CreditCardProfilesIndex');
        }
  
        // parse inputs
        $resourcePath = "/v1/account/credit_card_profiles.json";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = $this->apiClient->getSerializer()->toQueryValue($access_token);
        }// query params
        if ($per_page !== null) {
            $queryParams['per_page'] = $this->apiClient->getSerializer()->toQueryValue($per_page);
        }// query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
        
    }
    
    /**
     * v1CreditCardProfilesCreate
     *
     * Creates credit card profile
     *
     * @param string $access_token Add shipping addresses to the account (required)
     * @param string $token Payment Token (required)
     * @param string $card_type Card Type (Visa, Master or American Express) (required)
     * @param string $masked_number XXXXXXXXXXXX1111 (required)
     * @param string $expiration_date Credit Card Expiration Date (2015/12/20) (required)
     * @param string $name name (required)
     * @param string $street_1 street address 1 (required)
     * @param string $city city (required)
     * @param string $state state (required)
     * @param string $country country (required)
     * @param string $zip zip (required)
     * @param string $phone phone (required)
     * @param string $street_2 street address 2 (optional)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function v1CreditCardProfilesCreate($access_token, $token, $card_type, $masked_number, $expiration_date, $name, $street_1, $city, $state, $country, $zip, $phone, $street_2=null)
    {
        
        // verify the required parameter 'access_token' is set
        if ($access_token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $access_token when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'token' is set
        if ($token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $token when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'card_type' is set
        if ($card_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $card_type when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'masked_number' is set
        if ($masked_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $masked_number when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'expiration_date' is set
        if ($expiration_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $expiration_date when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'street_1' is set
        if ($street_1 === null) {
            throw new \InvalidArgumentException('Missing the required parameter $street_1 when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'city' is set
        if ($city === null) {
            throw new \InvalidArgumentException('Missing the required parameter $city when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'state' is set
        if ($state === null) {
            throw new \InvalidArgumentException('Missing the required parameter $state when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'country' is set
        if ($country === null) {
            throw new \InvalidArgumentException('Missing the required parameter $country when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'zip' is set
        if ($zip === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zip when calling v1CreditCardProfilesCreate');
        }
        // verify the required parameter 'phone' is set
        if ($phone === null) {
            throw new \InvalidArgumentException('Missing the required parameter $phone when calling v1CreditCardProfilesCreate');
        }
  
        // parse inputs
        $resourcePath = "/v1/account/credit_card_profiles.json";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "POST";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = $this->apiClient->getSerializer()->toQueryValue($access_token);
        }// query params
        if ($token !== null) {
            $queryParams['token'] = $this->apiClient->getSerializer()->toQueryValue($token);
        }// query params
        if ($card_type !== null) {
            $queryParams['card_type'] = $this->apiClient->getSerializer()->toQueryValue($card_type);
        }// query params
        if ($masked_number !== null) {
            $queryParams['masked_number'] = $this->apiClient->getSerializer()->toQueryValue($masked_number);
        }// query params
        if ($expiration_date !== null) {
            $queryParams['expiration_date'] = $this->apiClient->getSerializer()->toQueryValue($expiration_date);
        }// query params
        if ($name !== null) {
            $queryParams['name'] = $this->apiClient->getSerializer()->toQueryValue($name);
        }// query params
        if ($street_1 !== null) {
            $queryParams['street_1'] = $this->apiClient->getSerializer()->toQueryValue($street_1);
        }// query params
        if ($street_2 !== null) {
            $queryParams['street_2'] = $this->apiClient->getSerializer()->toQueryValue($street_2);
        }// query params
        if ($city !== null) {
            $queryParams['city'] = $this->apiClient->getSerializer()->toQueryValue($city);
        }// query params
        if ($state !== null) {
            $queryParams['state'] = $this->apiClient->getSerializer()->toQueryValue($state);
        }// query params
        if ($country !== null) {
            $queryParams['country'] = $this->apiClient->getSerializer()->toQueryValue($country);
        }// query params
        if ($zip !== null) {
            $queryParams['zip'] = $this->apiClient->getSerializer()->toQueryValue($zip);
        }// query params
        if ($phone !== null) {
            $queryParams['phone'] = $this->apiClient->getSerializer()->toQueryValue($phone);
        }
        
        
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
        
    }
    
    /**
     * v1CreditCardProfilesShow
     *
     * get more information about credit card profile from the account
     *
     * @param string $access_token Get credit card profiles for the user (required)
     * @param string $id Get credit card profiles for the user (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function v1CreditCardProfilesShow($access_token, $id)
    {
        
        // verify the required parameter 'access_token' is set
        if ($access_token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $access_token when calling v1CreditCardProfilesShow');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling v1CreditCardProfilesShow');
        }
  
        // parse inputs
        $resourcePath = "/v1/account/credit_card_profiles/{id}.json";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "GET";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = $this->apiClient->getSerializer()->toQueryValue($access_token);
        }
        
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
        
    }
    
    /**
     * v1CreditCardProfilesUpdate
     *
     * Updates credit card profile
     *
     * @param string $access_token Add shipping addresses to the account (required)
     * @param string $id uppdate credit card profile by id for the user (required)
     * @param string $token Payment Token (required)
     * @param string $card_type Card Type (Visa, Master or American Express) (required)
     * @param string $masked_number XXXXXXXXXXXX1111 (required)
     * @param string $expiration_date Credit Card Expiration Date (2015/12/20) (required)
     * @param string $name name (required)
     * @param string $street_1 street address 1 (required)
     * @param string $city city (required)
     * @param string $state state (required)
     * @param string $country country (required)
     * @param string $zip zip (required)
     * @param string $phone phone (required)
     * @param string $street_2 street address 2 (optional)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function v1CreditCardProfilesUpdate($access_token, $id, $token, $card_type, $masked_number, $expiration_date, $name, $street_1, $city, $state, $country, $zip, $phone, $street_2=null)
    {
        
        // verify the required parameter 'access_token' is set
        if ($access_token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $access_token when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'token' is set
        if ($token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $token when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'card_type' is set
        if ($card_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $card_type when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'masked_number' is set
        if ($masked_number === null) {
            throw new \InvalidArgumentException('Missing the required parameter $masked_number when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'expiration_date' is set
        if ($expiration_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $expiration_date when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'street_1' is set
        if ($street_1 === null) {
            throw new \InvalidArgumentException('Missing the required parameter $street_1 when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'city' is set
        if ($city === null) {
            throw new \InvalidArgumentException('Missing the required parameter $city when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'state' is set
        if ($state === null) {
            throw new \InvalidArgumentException('Missing the required parameter $state when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'country' is set
        if ($country === null) {
            throw new \InvalidArgumentException('Missing the required parameter $country when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'zip' is set
        if ($zip === null) {
            throw new \InvalidArgumentException('Missing the required parameter $zip when calling v1CreditCardProfilesUpdate');
        }
        // verify the required parameter 'phone' is set
        if ($phone === null) {
            throw new \InvalidArgumentException('Missing the required parameter $phone when calling v1CreditCardProfilesUpdate');
        }
  
        // parse inputs
        $resourcePath = "/v1/account/credit_card_profiles/{id}.json";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "PUT";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = $this->apiClient->getSerializer()->toQueryValue($access_token);
        }// query params
        if ($token !== null) {
            $queryParams['token'] = $this->apiClient->getSerializer()->toQueryValue($token);
        }// query params
        if ($card_type !== null) {
            $queryParams['card_type'] = $this->apiClient->getSerializer()->toQueryValue($card_type);
        }// query params
        if ($masked_number !== null) {
            $queryParams['masked_number'] = $this->apiClient->getSerializer()->toQueryValue($masked_number);
        }// query params
        if ($expiration_date !== null) {
            $queryParams['expiration_date'] = $this->apiClient->getSerializer()->toQueryValue($expiration_date);
        }// query params
        if ($name !== null) {
            $queryParams['name'] = $this->apiClient->getSerializer()->toQueryValue($name);
        }// query params
        if ($street_1 !== null) {
            $queryParams['street_1'] = $this->apiClient->getSerializer()->toQueryValue($street_1);
        }// query params
        if ($street_2 !== null) {
            $queryParams['street_2'] = $this->apiClient->getSerializer()->toQueryValue($street_2);
        }// query params
        if ($city !== null) {
            $queryParams['city'] = $this->apiClient->getSerializer()->toQueryValue($city);
        }// query params
        if ($state !== null) {
            $queryParams['state'] = $this->apiClient->getSerializer()->toQueryValue($state);
        }// query params
        if ($country !== null) {
            $queryParams['country'] = $this->apiClient->getSerializer()->toQueryValue($country);
        }// query params
        if ($zip !== null) {
            $queryParams['zip'] = $this->apiClient->getSerializer()->toQueryValue($zip);
        }// query params
        if ($phone !== null) {
            $queryParams['phone'] = $this->apiClient->getSerializer()->toQueryValue($phone);
        }
        
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
        
    }
    
    /**
     * v1CreditCardProfilesDestroy
     *
     * delete credit card credit card profile associated with the account
     *
     * @param string $access_token delete credit card profiles for the user (required)
     * @param string $id delete credit card profiles for the user (required)
     * @return void
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function v1CreditCardProfilesDestroy($access_token, $id)
    {
        
        // verify the required parameter 'access_token' is set
        if ($access_token === null) {
            throw new \InvalidArgumentException('Missing the required parameter $access_token when calling v1CreditCardProfilesDestroy');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling v1CreditCardProfilesDestroy');
        }
  
        // parse inputs
        $resourcePath = "/v1/account/credit_card_profiles/{id}.json";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "DELETE";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array());
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array());
  
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = $this->apiClient->getSerializer()->toQueryValue($access_token);
        }
        
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams
            );
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            }
  
            throw $e;
        }
        
    }
    
}
